/* Encabezado */
.top-bar {
    width: 100%;
    height: 10%;
    background-color: lightgray;
    overflow: hidden;
}

#infoPerfil {
    margin-left: 10px;
    height: 10px;
    display: inline-block;
}

#botonesPerfil {
    margin-top: 25px;
    margin-right: 10px;
    float: right;
}

/* Cuerpo */
main {
    background-color: lightgray;
}

/* Secciones */
section {
    text-align: center;
    padding: 20px;
    padding-bottom: 100px;
    margin: 25px;
}

.izquierda, .centro, .derecha {
    display: inline-block; 
    width: 29%;
    margin: 0 10px;
    text-align: center;
    vertical-align: top; 
    padding: 20px;
    background-color: whitesmoke;
}

section article img {
    width: auto;
    height: auto;
    object-fit: cover;
    margin-top: 10px;
}

article p {
    font-size: 1rem;
    margin: 10px 0;
}
