/*Encabezado*/

.top-bar{
    
    width: 100%;
    height: 10%;
    background-color: lightgray;
    /* padding: 10px 20px; */
    overflow: hidden;
}

#infoPerfil{
    margin-left: 10px;
    height: 10px;
    display: inline-block;
}

#botonesPerfil{
    margin-top: 25px;
    margin-right: 10px;
    float: right;
}

/*Cuerpo*/
main {
    width: 100%;
    background-color: lightgray;
}

/*Cos*/

section {
    text-align: center;
    padding: 20px;
    padding-bottom: 150px;
    margin: 25px;
}

section h2 {
    margin-bottom: 10px;
}

section p {
    margin-bottom: 30px;
}

section article {
    display: inline-block;
    width: 15%;
    margin: 0 10px; 
    text-align: center;
    vertical-align: top; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

section article:hover {
    transform: scale(1.05);
}

section article img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 10px;
}

section article p {
    margin-bottom: 10px;
}
