header {
    width: 100%;
    padding: 10px;
    position: relative;
}

.links {
    position: absolute;
    right: 10px;
}

.links img {
    width: 100px;
    height: 80px;
    margin-left: 10px;
}

.header-content {
    overflow: hidden;
    padding-right: 50px;
}

.profile-img {
    float: left;
    margin-right: 15px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-info {
    margin-top: 15px;
    display: inline-block;
    line-height: 1.5;
}